h1 {
  color: red;
}
section {
    height: 100vh;
    width: 49%;
    display: inline-block;
    background-color: #ccc;
    overflow: auto;
}
#card {
  background-image:url('https://cdn.newsapi.com.au/image/v1/c028cf3322130cc7d2aabdb21ea4721e?width=650'); 
  background-repeat: no-repeat;
  background-size: cover;
}
#iphone {
  background-color: red; 
  text-align: center;
}